global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    errorfile 503 /etc/haproxy/errors/503.http

frontend https_front
    bind *:443 ssl crt /home/desire/qtglobal-system-test/haproxy/certs/qtglobal.test.pem no-sslv3 no-tlsv10 no-tlsv11
    mode http
    option forwardfor
    default_backend http_back

backend http_back
    mode http
    option http-server-close
    option forwardfor
    server c_server 127.0.0.1:80 check

